<h1 class = "text-primary display-4">ブログの編集</h1>
<% if @blogpost.errors.any? %>
<ul>
  <% @blogpost.errors.full_messages.each do |err| %>
    <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<%= render partial: 'form' %>
