<h1 class = "display-4 text-primary">ジャンルの編集</h1>
<% if @bloggenre.errors.any? %>
    <ul>
        <% @bloggenre.errors.full_messages.each do |err| %>
            <li><%= err %></li>
        <% end %>
    </ul>
<% end %>
<%= render partial: 'form' %>
